.counter-p {
    font-size: 24px;
    color: #fff;
    margin: 20px;
}

.counter-c {
    color: #fff;
    font-size: 50px;
    margin: 10px;
}


.counter-buttons button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin: 10px;
    font-size: 30px;
    border: 1px solid #fff;
}

@media (max-width:550px) {
    .counter-p {
        font-size: 18px;
    }

    .counter-c {
        font-size: 30px;
    }

    .counter-buttons button {
        width: 50px;
        font-size: 20px;
    }
}